.home{
    display:flex;
    width:1200px;
    justify-content: space-between;
    margin-left: 200px;
    padding-bottom: 100px;
}
.Home{
    display:flex;
    width:1200px;
    justify-content: space-between;
    margin-left: 200px;
    padding-bottom: 10px;
}
.card2{
    font-size: small;
    margin-top: -10px;
}